# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ignore tokens and credentials
# wesly
app/src/main/resources/cs206-g1t3-schedease-service_account.json
app/src/main/resources/credentials.json
app/build/resources/cs206-g1t3-schedease-service_account.json
app/build/resources/credentials.json
app/tokens/StoredCredential

#hii